.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr 150px;
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";

  min-height: 100vh;
  height: 100vh;
  text-align: center;
}

.container header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.2);
}
.container main {
  grid-area: main;
  background-color: rgba(0, 0, 0, 0.1);
}
.container footer {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.2);
}
